@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This site demonstrates the following:</p>

<ol>
    <li>View a list of players by rank</li>
    <li>Sort the players into a favorites list</li>
    <li>View the bio of a player in the top 10</li>
    <li>Utilization of Entity Framework</li>
    <li>Data migrations</li>
    <li>Persisting data in a SQL database</li>
    <li>AJAX call with JavaScript</li>
    <li>Utilizing ViewComponents to make application behave similar to a SPA</li>
    <li>Data caching</li>
    <li>Dependency Injection</li>
    <li>API requests</li>
</ol>
